{% extends 'warehouse/warehouse-navbar.html' %} {% block content %}

<div class="book_add_wrapper">
   <div class="book_add_container">
      <p class="book_add_title">Sửa thông tin</p>

      <form style="width: 100%" method="post" action="/inventory/book/edit/{{inventory.id}}">
         {% csrf_token %}

         <div class="book_add_item_wrapper">
            <div class="book_add_item">
               <label class="book_add_item_text" for="name">Tên</label>
               <input class="book_add_item_text_input" type="text" name="name" value="{{inventory.book_id.name}}" />
            </div>
            <div class="book_add_item">
               <label class="book_add_item_text" for="quantity">Số lượng</label>
               <input class="book_add_item_text_input" type="number" name="quantity" value="{{inventory.quantity}}" />
            </div>
            <div class="book_add_item">
               <label class="book_add_item_text" for="price">Giá cả</label>
               <input class="book_add_item_text_input" type="number" name="price" value="{{inventory.price}}" />
            </div>
            <div class="book_add_item">
               <label class="book_add_item_text" for="author">Tác giả</label>
               <input class="book_add_item_text_input" type="text" name="author" value="{{inventory.book_id.author}}" />
            </div>
            <div class="book_add_item">
               <label class="book_add_item_text" for="publisher">Nhà xuất bản</label>
               <input
                  class="book_add_item_text_input"
                  type="text"
                  name="publisher"
                  value="{{inventory.book_id.publisher}}"
               />
            </div>
            <div class="book_add_item">
               <label class="book_add_item_text" for="category">Thể loại</label>
               <select
                  class="book_add_item_text_input"
                  name="category"
                  value="{{inventory.book_id.category_id.name}}"
                  selected="{{inventory.book_id.category_id.id}}"
               >
                  {% for item in category %}

                  <option value="{{item.id}}" {% if inventory.book_id.category_id.id == item.id %}selected{% endif %} >{{item.name}}</option>

                  {% endfor %}
               </select>
            </div>
            <div class="book_add_item">
               <label class="book_add_item_text" for="supplier">Nhà cung cấp</label>
               <select class="book_add_item_text_input" name="supplier" selected="{{inventory.book_id.supplier_id.id}}">
                  {% for item in supplier %}

                  <option value="{{item.id}}" {% if inventory.book_id.supplier_id.id == item.id %}selected{% endif %}>{{item.name}}</option>

                  {% endfor %}
               </select>
            </div>
         </div>

         <div class="book_add_button_row">
            <button type="submit" class="book_add_button">Xác nhận</button>
         </div>
      </form>
   </div>
</div>

{% endblock content %}
