{% extends 'sale/sale-navbar.html' %} {% block content %}

<div class="contentWrapper">
   <div class="headerWrapper">
      <p class="headerText">Danh sách đơn hàng đang vận chuyển</p>
   </div>

   {% for ort in order %}
   <div class="order_wrapper">
      <div class="order_cre_row">
         <p class="order_cre_left">Tên khách hàng:&nbsp&nbsp</p>
         <p class="order_cre_right">{{ort.person_id.name}}</p>
      </div>
      <div class="order_cre_row">
         <p class="order_cre_left">Địa chỉ:&nbsp&nbsp</p>
         <p class="order_cre_right">{{ort.person_id.address}}</p>
      </div>
      <div class="order_cre_row">
         <p class="order_cre_left">Số điện thoại:&nbsp&nbsp</p>
         <p class="order_cre_right">{{ort.person_id.phone}}</p>
      </div>
      <div class="order_cre_row">
         <p class="order_cre_left">Phương thức thanh toán:&nbsp&nbsp</p>

         {% if ort.method == 1 %}
         <p class="order_cre_right">Thanh toán khi nhận hàng</p>
         {% endif %} {% if ort.method == 2 %}
         <p class="order_cre_right">Chuyển khoản</p>
         {% endif %}
      </div>
      <div class="order_cre_row">
         <p class="order_cre_left">Tổng:&nbsp&nbsp</p>
         <p class="order_cre_right">{{ort.total}} vnđ</p>
      </div>
      <table style="width: 100%" class="table">
         <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Giá sale</th>
            <th>Số lượng</th>
         </tr>
         {% for item in ort.cartItem %}
         <tr>
            <td>{{item.product_id.id}}</td>
            <td>
               {% if item.product_id.type == 1 %}
               <p>{{item.product_id.inventory_id.book_id.name}}</p>
               {% elif item.product_id.type == 2 %}
               <p>{{item.product_id.inventory_id.electro_id.name}}</p>
               {% elif item.product_id.type == 3 %}
               <p>{{item.product_id.inventory_id.clothes_id.name}} {% endif %}</p>
            </td>
            <td>{{item.product_id.salePrice}} VNĐ</td>
            <td>{{item.quantity}}</td>
         </tr>
         {% endfor %}
      </table>

      <div class="bottomRow">
         <a href="/order/customer-reject?id={{ort.id}}" class="reject_order_wrapper">
            <p class="confirmText">Khách hàng không nhận</p>
         </a>

         <a href="/order/delivered?id={{ort.id}}" class="confirm_order_wrapper">
            <p class="confirmText">Đã vận chuyển</p>
         </a>
      </div>
   </div>

   {% endfor %}
</div>

{% endblock content %}
