{% extends 'business/business-navbar.html' %} {% block content %}

<div class="book_add_wrapper">
   <div class="book_add_container">
      <p class="book_add_title">Sửa thông tin</p>

      <form style="width: 100%" method="post" action="/product/edit/{{product.id}}">
         {% csrf_token %}

         <div class="book_add_item_wrapper">
            <div class="book_add_item">
               <label class="book_add_item_text" for="name">Tên</label>
               <input
                  style="border-color: green"
                  readonly
                  class="book_add_item_text_input"
                  type="text"
                  name="name"
                  value="{{product.inventory_id.clothes_id.name}}"
               />
            </div>
            <div class="book_add_item">
               <label class="book_add_item_text" for="quantity">Số lượng</label>
               <input class="book_add_item_text_input" type="number" name="quantity" value="{{product.quantity}}" />
            </div>
            <div class="book_add_item">
               <label class="book_add_item_text" for="price">Giá cả</label>
               <input
                  placeholder="VND"
                  class="book_add_item_text_input"
                  type="number"
                  name="price"
                  value="{{product.price}}"
               />
            </div>
            <div class="book_add_item">
               <label class="book_add_item_text" for="size">Kích thước</label>
               <input
                  style="border-color: green"
                  readonly
                  class="book_add_item_text_input"
                  type="text"
                  name="size"
                  value="{{product.inventory_id.clothes_id.size}}"
               />
            </div>
            <div class="book_add_item">
               <label class="book_add_item_text" for="branch">Nhãn hiệu</label>
               <input
                  style="border-color: green"
                  readonly
                  class="book_add_item_text_input"
                  type="text"
                  name="branch"
                  value="{{product.inventory_id.clothes_id.branch}}"
               />
            </div>
            <div class="book_add_item">
               <label class="book_add_item_text" for="color">Màu sắc</label>
               <input
                  style="border-color: green"
                  readonly
                  class="book_add_item_text_input"
                  type="text"
                  name="color"
                  value="{{product.inventory_id.clothes_id.color}}"
               />
            </div>
            <div class="book_add_item">
               <label class="book_add_item_text" for="fashionCategory">Loại</label>
               <input
                  style="border-color: green"
                  readonly
                  class="book_add_item_text_input"
                  type="text"
                  name="fashionCategory"
                  value="{{product.inventory_id.clothes_id.fashioncategory_id.name}}"
               />
            </div>
            <div class="book_add_item">
               <label class="book_add_item_text" for="supplier">Nhà cung cấp</label>
               <input
                  style="border-color: green"
                  readonly
                  class="book_add_item_text_input"
                  type="text"
                  name="supplier"
                  value="{{product.inventory_id.clothes_id.supplier_id.name}}"
               />
            </div>
            <div class="book_add_item">
               <label class="book_add_item_text" for="sale">Sale</label>
               <input
                  class="book_add_item_text_input"
                  type="text"
                  name="sale"
                  placeholder="%"
                  value="{{product.sale}}"
               />
            </div>

            <div class="book_add_item">
               <label class="book_add_item_text" for="description">Mô tả</label>
               <input class="book_add_item_text_input" type="text" name="description" value="{{product.description}}" />
            </div>
         </div>

         <div class="book_add_button_row">
            <button type="submit" class="book_add_button">Sửa thông tin</button>
         </div>
         {% for mes in messages %}
         <h4>{{mes}}</h4>
         {% endfor %}
      </form>
   </div>
</div>

{% endblock content %}
