<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'ecommerce/login.css' %}" />
      <title>Staff Login</title>
   </head>
   <body>
      {% block content %}
      <div class="body_wrapper">
         <div class="login_wrapper">
            <p class="headerText1">BOEC STAFF</p>

            <form style="width: 100%" action="/staff/login" method="post">
               <div class="formWrapper">
                  {% csrf_token %}
                  <label class="login_label" for="username">Tài khoản</label>
                  <input placeholder="usrname" class="login_input" type="text" name="username" />
                  <label class="login_label" for="username">Đăng nhập</label>
                  <input placeholder="usrname" class="login_input" type="password" name="password" />

                  <button type="submit" class="loginButton">Đăng nhập</button>
               </div>
            </form>

            <div class="bottomText">
               {% for mes in messages %}
               <p class="errorText">{{mes}}!!</p>
               {% endfor %}
            </div>
         </div>
      </div>
      {% endblock %}
   </body>
</html>
